@import 'variables', 'mixins';

#content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 20px;
    #queue-form-wrapper {
        width: 100%;
        margin: 20px 0;
        form {
            // width: 100%;
            display: flex;
            // flex: 1;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .input {
                // align-self: flex-end;
                select {
                    @include input-styling;
                    // width: 5em;
                }
                input[type=submit] {
                    @include button-styling;
                }
            }
            .output textarea {
                @include textarea-styling;
                height: 15em;
                width: 25em;
            }
        }
    }
    #log-form-wrapper {
        width: 100%;
        margin: 20px 0;
        form {
            .output textarea {
                @include textarea-styling;
                height: 25em;
                width: 20em;
            }
            input[type=submit] {
                @include button-styling;
            }
        }
    }
    
}

