@import 'variables';

@mixin link-styling {
  color: $primary-text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin input-styling {
  background-color: $tertiary-background-color;
  color: $primary-text-color;
  border: $primary-accent-color solid 1px;
  border-radius: 3px;
  padding: 2px 5px;
}

@mixin button-styling {
    background-color: $primary-text-color;
    border: 1px transparent solid;
    border-radius: 3px;
    color: $tertiary-background-color;
    padding: 2px 5px;
    &:active {
        border: 1px $tertiary-background-color solid;
    }
}
