$primary-background-color: #1d2052;
$secondary-background-color: #170E2F;
$tertiary-background-color: #362A6B;
$primary-text-color: #C5CAE7;
$primary-accent-color: #B298EB;
$secondary-accent-color: #E9C5F0;

$master-font: 'Source Sans Pro', sans-serif;
$special-font: 'Zen Antique Soft', serif;