{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_no_label %}
{% block header %}

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock header %}
{% block content %}
<div class="spacer-60"></div>
<div id="content-wrapper">
    <div id="left-content-wrapper">
        <div id="stock-label">
            <span>Current stock</span>
        </div>
        <div id="stock-frame">
            <script>
                fetch("{{ url_for('item.get_stock_list', user_id=current_user.id) }}")
                .then(data => data.json())
                .then(data => {
                    // console.log(data)
                    data.forEach(stock => {
                        const nameDiv = document.createElement('div');
                        nameDiv.className = "stock-name"
                        const amountDiv = document.createElement('div');
                        amountDiv.className = "stock-amount"
                        nameDiv.innerHTML = stock.item_value;
                        amountDiv.innerHTML = stock.amount;
                        document.getElementById("stock-frame").appendChild(nameDiv)
                        document.getElementById("stock-frame").appendChild(amountDiv)
                    })
                })
            </script>
        </div>
    </div>
    <div id="center-content-wrapper">
        <div class="NYI">Crafting calc goes here</div>
    </div>
    <div id="right-content-wrapper">
        <div id="item-form">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="entry-forms-wrapper">
                    {{ render_field(form.item) }}
                    {{ render_field(form.amount) }}
                    {{ render_field(form.gil_value) }}
                </div>
                <div class="buttons-wrapper">
                    <div class="button">
                        {{ render_field_no_label(form.sale_button) }}
                    </div>
                    <div class="button">
                        {{ render_field_no_label(form.purchase_button) }}
                    </div>
                    <div class="button">
                        {{ render_field_no_label(form.view_button) }}
                    </div>
                    <div class="button">
                        {{ render_field_no_label(form.remove_stock_button) }}
                    </div>
                    <div class="button">
                        {{ render_field_no_label(form.add_stock_button) }}
                    </div>
                    <div class="button">
                        {{ render_field_no_label(form.view_recipes_button) }}
                    </div>
                </div>
            </form>
        </div>
        <div id="log-frame-wrapper">
            <div id="log-wrapper">
                <textarea id="log" readonly>I don't know what to put here</textarea>
            </div>
            <div id="log-buttons">
                <button>Clear log</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}