{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    {{ item['name'] }}
{% endblock header %}
{% block content %}
<div class="spacer-60"></div>
<div id="content-wrapper">
    <div id="price-list-table-wrapper">
        <table>
            <th>Gil</th>
            <th>Time</th>
            {% for transaction in sale_price_list %}
            <tr>
                <td>{{ transaction.gil_value }}</td>
                <td>{{ transaction.time }}</td>
                <td><a href="{{ url_for('transaction.view_transaction', id=transaction.id) }}">Edit transaction</a></td>
            </tr>
            {% endfor %}    
        </table>
    </div>
</div>
{% endblock content %}

