{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_no_label %}

{% block content %}

    <div id="form-wrapper">
        <form method="post">
            {{ form.csrf_token }}
            {{ render_field(form.item_value) }}
            {{ render_field(form.price_input) }}
            {{ render_field(form.item_quantity) }}
            {{ render_field(form.price_time) }}
            {{ render_field_no_label(form.save_button)  }}
        </form>
    </div>

{% endblock %}
