{% extends 'base.html' %}

{% block content %}
    <div class="items-wrapper">
        <table>
            <tr>
                <th>Recipe for item:</th>
                <th><a href="{{ url_for('recipe.create_recipe') }}">Create recipe</a></th>
            </tr>
            {% for product in product_list %}
                <tr>
                    <td>{{ product.item_value }}</td>
                    <td><a href="{{ url_for('recipe.view_recipes', value=product.item_value) }}">View recipes</a></td>
                </tr>
            {% endfor %}
            
        </table>
    </div>

{% endblock %}
