body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #363636;
    color: white;
}

.NYI {
    text-decoration: line-through;
}

/* header styles */
#header-wrapper > #header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 10px 20px;
}

#header-wrapper > #header > .logo {
    font-family: 'Zen Antique Soft', serif;
    font-size: 2em;
}

#header-wrapper > #header > .nav-bar {
    display: flex;
    justify-content: space-between;
}

#header-wrapper > #header > .nav-bar > .nav-link {
    padding: 10px;    
}

#header-wrapper > #header > .nav-bar > .nav-link a {
    color: white;
    text-decoration: none;
}

#header-wrapper > #header > #account-wrapper {
    font-size: 1rem;
}

/* warning styles */

#warning-wrapper {
    color: lightgray;
    font-size: 1.2em;
    padding: 5px 20px;
}

#warning-wrapper > #warning {
    font-size: 1.5em;
}

/* content styles */

#content-wrapper {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

/* helpers */

.spacer-60 {
    height: 60px;
}