@import "variables", "mixins";

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    #left-content-wrapper {
        #stock-label {
            font-size: 1.5em;
            margin: 10px;
        }
        #stock-frame {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }

    #right-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4em;
        #item-form form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .entry-forms-wrapper {
                select {
                    @include input-styling;
                    width: 250px;
                }

                input[type="number"] {
                    @include input-styling;
                }
            }

            .buttons-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                justify-items: center;

                input[type="submit"] {
                    @include button-styling;
                }
            }
        }
        #log-frame-wrapper {
            #log-wrapper textarea {
                @include textarea-styling;
                width: 50%;
                height: 12em;
            }
            #log-buttons button {
                @include button-styling;
            }
        }
    }
}

#gil_value {
    width: 70px;
}

#amount {
    width: 60px;
}
