.item-header {
    margin: 10px;
    font-size: 1.5em;
}

#content-wrapper > .recipe > .recipe-header {
    font-size: 1.25em;
    margin: 5px 0;
}

#content-wrapper > .recipe table {
    margin-top: 5px;
}

#content-wrapper > .recipe table, td {
    border: 1px solid #B298EB;
    border-collapse: collapse;
}

#content-wrapper > .recipe td {
    padding: 3px;
}