{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_no_label %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="form-wrapper">
        <span>Login</span>
        <form method="post">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.password) }}
            {{ render_field_no_label(form.submit) }}
        </form>
    </div>
{% endblock %}