<!doctype html>
<title>{% block title %}{% endblock %} FFXIV Ledger</title>
<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

<body>
<div id="header-wrapper">
    <div id="left-side-header">
        <div class="logo">
            FFXIV Ledger
        </div>
        <div class="nav-bar">
            <div class="nav-link">
                <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
            </div>
            <div class="nav-link">
                <span class="NYI">Crafting Queue</span>
            </div>
            <div class="nav-link">
                <span class="NYI">Ledger</span>
            </div>
            <div class="nav-link">
                <span class="NYI">Materials</span>
            </div>
            <div class="nav-link">
                <span class="NYI">Options</span>
            </div>
        </div>
    </div>
    <div id="right-side-header">
        <div id="account-wrapper">
            <div class="account-info">
                {% if current_user.is_authenticated %}
                    <div class="logged-in-view">
                        <span id="welcome-message">Hi <span id="username">{{ current_user.name }}</span></span>
                        <span><a href="{{ url_for('auth.logout') }}">Logout</a></span>
                    </div>
                {% else %}
                    <div class="logged-out-view">
                        <a href="{{ url_for('auth.signup') }}">Register</a>
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block header %}{% endblock header %}
{% block content %}
{% endblock content %}
</body>